@model MoviewShop.ViewModels.ShowAllCustomersViewModel
@{
    ViewBag.Title = "ShowAllCutomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!(Model.Customers.Count == 0))
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
                <th>Membership Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td><a href="CustomerPage/@customer.Id">@customer.Name</a></td>
                    <td>@customer.MembershipType.DiscountRage%</td>
                    <td>@customer.MembershipType.MembershipTypeName</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h3>We don't have any customers yet</h3>
}


