@model MoviewShop.ViewModels.ShowAllMoviesViewModel
@{
    ViewBag.Title = "ShowAllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Movies</h2>
@Html.ActionLink("NEW MOVIE", "NewMovie", "Movies", routeValues: null, htmlAttributes: new { @class = "btn btn-info", role = "button" })
@if (!(Model.Movies.Count == 0))
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td><a href="MoviePage/@movie.Id">@movie.Name</a></td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </table>

}
else
{
    <h3>We don't have any movies yet</h3>
}
